{% extends 'base.html.twig' %}

{% block title %}Recipes | {{ recipe.title }}{% endblock %}

{% block body %}
    <p class="fw-bold">Title</p>
    <p>{{ recipe.title }}</p>

    <p class="fw-bold">Description</p>
    <p>{{ recipe.description }}</p>

    <p class="fw-bold">Duration</p>
    <p>{{ recipe.duration }} min</p>
{% endblock %}
